.btn-toggle-btn {
    background-color: transparent;
    padding: 10px;
    width: 200px;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .btn-toggle-btn {
        background-color: transparent;
        padding: 10px;
        width: 100px;
        cursor: pointer;
    }
}